.editor-page-selector {
    min-width: 450px;
    border: 3px solid #720281;
}

.editor-page-selector__title {
    background-color: #fff;
    color: #720281;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-bottom: 3px solid #720281;
}

.editor-page-selector__elements {
    width: 100%;
}

.page-selector-element {
    display: flex;
    /* padding: 4px 8px; */
    background-color: #fff;
    font-size: 17px;
    transition: all 0.3s ease 0s;
    color: #720281;
    cursor: pointer;
}

.page-selector-element:hover,
.page-selector-element.selected {
    background-color: #720281;
    color: #fff;
}


.page-selector-element__left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 8px;
}

.page-selector-element__right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4px 8px;
}

.page-selector-element__index {
    /* color: #720281; */
    font-weight: 800;
    border: 1px solid #720281;
    padding: 0 5px;
}

.page-selector-element__name {
    /* color: #720281; */
    margin-left: 10px;
    font-weight: 400;
}


.page-selector-element__url {
    border: 2px solid #720281;
    background-color: #fff;
    color: #720281;
    padding-right: 20px;
    /* text-decoration: underline; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.page-selector-element__url::before {
    content: "URL:";
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #720281;
    margin-right: 20px;
    font-size: 13px;
    padding: 3px;
}

.page-selector-element:hover .page-selector-element__index,
.page-selector-element.selected .page-selector-element__index {
    border-color: #fff;
}

.page-selector-element:hover .page-selector-element__url::before,
.page-selector-element.selected .page-selector-element__url::before {
    background-color: #fff;
    color: #720281;
    text-decoration: none !important;
    text-decoration-color: transparent;
    border-right: 3px solid #720281;
}


.editor-page-selector__button {
    width: 100%;
    background-color: #fff;
    color: #720281;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-top: 3px solid #720281;
    transition: all 0.3s ease 0s;
}

.editor-page-selector__button:hover {
    cursor: pointer;
    background-color: #720281;
    color: #fff;
}